body {
  background-color: #f9f7fe;
  font-family: "Poppins", sans-serif;
}

a {
  color: #f70776;
}

header {
  border-bottom: 1px solid #f9f7fe;
  padding: 0 0 30px 0;
}

.weather-box {
  background-color: white;
  max-width: 600px;
  margin: 45px auto;
  padding: 30px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 16px;
}

.search-form-input {
  background-color: #f9f7fe;
  border: none;
  border-radius: 6px;
  width: 58%;
  padding: 15px 20px;
  font-size: 16px;
}

.search-form-submit {
  background: #f70776;
  padding: 15px 30px;
  border: none;
  border-radius: 6px;
  color: white;
  margin-left: 5px;
  font-size: 16px;
}
.current-submit {
  background: #35bcbf;
  padding: 15px 30px;
  border: none;
  border-radius: 6px;
  color: white;
  margin-left: 5px;
  font-size: 16px;
}

main {
  padding: 30px 0;
}
.weather-box-main {
  display: flex;
  justify-content: space-between;
}

.main-city {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
}

.main-city-details {
  font-size: 16px;
  line-height: 20px;
  color: rgba(39, 33, 66, 0.4);
}

.main-city-details strong {
  color: #c3195d;
}

.main-city-container {
  display: flex;
}

.main-city-icon {
  width: 88px;
  height: 88px;
}

.main-city-temp {
  font-size: 88px;
  font-weight: 500;
  line-height: 88px;
}

.main-city-unit {
  font-size: 28px;
}

.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.weather-forecast-date {
  text-align: center;
  font-size: 16px;
  color: #202124;
  opacity: 0.6;
}

.weather-forecast-temp {
  font-size: 13px;
}

.weather-forecast-temp-min {
  opacity: 0.6;
}

footer {
  border-top: 1px solid #f9f7fe;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 12px;
  color: #141010;
  font-weight: 200;
}
